<mat-spinner style="margin: 0 auto;" color="accent" diameter="30" *ngIf="!isLoaded"></mat-spinner>

<mat-card *ngFor="let parking of parkings" class="parking-card" [routerLink]="['/parking', parking.id]">
    <span style="font-weight: bold;"> Parking {{parking.name}} </span> <span style="float: right;" [ngStyle]="calculStyleStatut(parking)">{{parking.status}}</span><br>
    <span *ngIf="parking.status !== 'Données non disponibles'"> Places disponibles : {{parking.availablePlaceCount}} </span>
</mat-card>